<% include ../views/partials/header %>

<!-- Banner -->
<section id="banner">
    <div class="inner text-center">
        <h1>About</h1>
        <div class="gap"></div>
        
    </div>
</section>

<div class="gap"></div>

        <div class="text-center justify-content-center col-md-5 offset-md-3 mx-auto col-sm-10 col-xs-10">
            <article>
                <div class="content">

                    <h3>Medical Ontology aims to provide a platform to find all knowledge of the medical domain, and find relationships between diseases, symptoms, and treatments
                    </h3>

                </div>
            </article> 
        </div>   


